body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic);

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html, body {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #282828;
	background-image: url('/assets/grid50.png');
	font-family: 'Roboto', sans-serif;
	color: #dddddd;
	display: flex;
}

h2 {
	color: #363636;
	font-size: 20pt;
	font-weight: 400;
}

h5 {
	color: #363636;
	font-size: 14pt;
	font-weight: 400;
	font-style: italic;
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: none;
}

li {
	color: #636363;
	font-size: 16pt;
	font-weight: 300;
	padding-top: 7px;
	padding-bottom: 7px;
}

#chart {
	width: 100%;
	height: 100%;
}

.hidden {
	display: none !important;
}

input {
	font-size: 18pt;
	padding: 10px;
	background-color: #181818;
	border: none;
	color: #c5c5c5;
	outline: none;
	outline-color: #3f4853;
}

button {
	background-color: #202020;
	color: #363636;
	border: none;
	height: 100%;
	cursor: pointer;
}

button:hover {
	color: #c5c5c5;
}
