
#tabs {
	display: flex;
	height: 80px;
	width: 100%;
}

#firebase {
	margin-top: 20px;
	margin-bottom: 40px;
}

.tab {
	flex: 1;
	display: inline;
	cursor: pointer;
	background-image: url('/assets/tabs.png');
	background-repeat: no-repeat;
	background-color: #181818;
}

.tab-trees {
	background-position: -10px bottom;
}

.tab-behaviors {
	background-position: center bottom;
}

.tab-subjects {
	background-position: -275px bottom;
}

.tab-trees.active {
	background-position: -10px top;
}

.tab-behaviors.active {
	background-position: center top;
}

.tab-subjects.active {
	background-position: -275px top;
}

.tab.active {
	background-color: #202020;
}

.panelContent {
	display: none;
	padding: 40px;
}

.panelContent.active {
	display: block;
}

/* Right link */

.rightLink {
	position: relative;
	color: #363636;
	text-decoration: none;
	font-weight: 700;
	float: right;
	font-size: 16pt;
	padding-top: 8px;
	padding-right: 40px;
}

.rightLink:hover, .rightLink.active {
	color: #636363;
}

.rightLink i {
	position: absolute;
	right: 0px;
	bottom: -5px;
}

/* Input in panel */

.panelInput {
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	min-height: 50px;
}

.panelInput input {
	flex: 1;
	width: 80%;
}

.panelInput button {
	flex: 0;
	margin-top: 5px;
}

.panelInput .multiline button {
	margin-top: 10px;
}

#fbSelect, #behaviorSelect {
	width: 100%;
}

#behaviorSelect {
	margin-top: 15px;
}


/* List */

#treeList, #behaviorList, #subjectList {
	margin-top: 25px;
}

#panel li {
	cursor: pointer;
}

#panel li:hover {
	color: #c5c5c5;
}

#behaviorList .behaviorLabel {
	max-width: 210px;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.listOfToggles li.active {
	background: #3f4853;
	padding: 20px;
	margin: -20px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 500;
	color: #181818;
	border-radius: 4px;
}

.listOfToggles li.active:hover {
	color: #181818;
}

.listOfToggles li.active .material-icons {
	color: #181818;
}

.listOfToggles li.active .material-icons:hover {
	color: #c5c5c5;
}

.listOfToggles li .material-icons {
	float: right;
	color: #363636;
	display: none;
}

.listOfToggles li:hover .material-icons {
	display: inline;
}

.listOfToggles .material-icons:hover {
	color: #c5c5c5;
}

.listOfToggles h5:first-letter {
	text-transform: capitalize;
}

.behaviorIcon {
	display: inline-block;
	width: 40px;
	height: 40px;
	opacity: 0.2;
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: 10px;
}

#panel li:hover .behaviorIcon {
	opacity: 0.5;
}
