
/* GENERAL */

.tab {
	cursor: pointer;
	background-image: url('/assets/tabs.png');
	background-repeat: no-repeat;
}

/* PANEL */

#panel .tabs {
	display: flex;
	height: 80px;
	width: 100%;
}

#panel .tab {
	flex: 1;
	background-color: #181818;
	display: inline-block;
	height: 80px;
	border-right: 1px #202020 solid;
}

#panel .tab:last-child {
	border-right: none;
}

#panel .tab.active {
	background-color: #202020;
	border-right: none;
}

#panel #tab-trees {
	background-position: -22px bottom;
}

#panel #tab-behaviors {
	background-position: -157px bottom;
}

#panel #tab-custom {
	background-position: -293px bottom;
}

#panel #tab-subjects {
	background-position: -429px bottom;
}

#panel #tab-trees.active {
	background-position: -22px top;
}

#panel #tab-behaviors.active {
	background-position: -157px top;
}

#panel #tab-custom.active {
	background-position: -293px top;
}

#panel #tab-subjects.active {
	background-position: -429px top;
}

/* MEMORY */

#memory .tabs {
	height: 60px;
}

#memory .tab {
	float: left;
	display: inline;
	width: 60px;
	height: 60px;
}

#memory #tab-treeEditor {
	background-position: -35px -91px;
}

#memory #tab-nodeEditor {
	background-position: -171px -91px;
}

#memory #tab-subjEditor {
	background-position: -442px -91px;
}

#memory #tab-treeEditor.disabled {
	cursor: auto;
	opacity: 0.3;
}
#memory #tab-nodeEditor.disabled {
	cursor: auto;
	opacity: 0.3;
}
#memory #tab-subjEditor.disabled {
	cursor: auto;
	opacity: 0.3;
}

#memory #tab-treeEditor.active {
	background-position: -35px -10px;
}

#memory #tab-nodeEditor.active {
	background-position: -171px -10px;
}

#memory #tab-subjEditor.active {
	background-position: -442px -10px;
}

#panelName {
	color: #363636;
	font-size: 20pt;
	font-weight: 400;
	height: 60px;
	text-align: right;
	float: right;
}

#panelName span {
	vertical-align: middle;
}

#panelName:hover {
	color: #636363;
	cursor: pointer;
}

#panelName i {
	vertical-align: middle;
	height: 100%;
	line-height: 130%;
}
