
.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 100%; height: 100%; display: block; position: absolute; top: 0px; left: 0px; cursor: pointer; }
.Treant .collapsed { background-color: #464646; border: 2px #515151 solid; }
.Treant > .node img {	border: none }

.node {
	width: 150px;
	height: 110px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 4px;
	background-color: #363636;
	border: 2px #414141 solid;
	text-align: center;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.node .node-name {
	font-weight: bold;
	font-size: 12pt;
}

/* status icons */

.node .node-desc {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 20px;
	height: 20px;
	background-image: url('/assets/status.png');
	background-repeat: no-repeat;
	background-position: -20px center;
}

.node.running .node-desc {
	background-position: center 0px;
}

.node.error .node-desc {
	background-position: center -20px;
}

.node.success .node-desc {
	background-position: center -40px;
}

/* status borders */

.node .node-contact {
	display: none;
	position: absolute;
	width: 164px;
	height: 124px;
	left: -9px;
	top: -9px;
	z-index: -10;
	border-radius: 8px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.node.running .node-contact {
	display: block;
	background-color: #9c7500;
	border: 7px #9c7500 solid;
}

.node.error .node-contact {
	display: block;
	background-color: #d2521a;
	border: 7px #d2521a solid;
}

.node.success .node-contact {
	display: block;
	background-color: #299b44;
	border: 7px #299b44 solid;
}
