body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic);

.Treant { position: relative; overflow: hidden; padding: 0 !important; }
.Treant > .node,
.Treant > .pseudo { position: absolute; display: block; visibility: hidden; }
.Treant.Treant-loaded .node,
.Treant.Treant-loaded .pseudo { visibility: visible; }
.Treant > .pseudo { width: 0; height: 0; border: none; padding: 0; }
.Treant .collapse-switch { width: 100%; height: 100%; display: block; position: absolute; top: 0px; left: 0px; cursor: pointer; }
.Treant .collapsed { background-color: #464646; border: 2px #515151 solid; }
.Treant > .node img {	border: none }

html, body {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #282828;
	background-image: url('/assets/grid50.png');
	font-family: 'Roboto', sans-serif;
	color: #dddddd;
}
