body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,400italic,500italic,700,700italic,900,900italic);

html, body {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: #282828;
	background-image: url('/assets/grid50.png');
	font-family: 'Roboto', sans-serif;
	color: #dddddd;
	display: flex;
}

h2 {
	color: #363636;
	font-size: 20pt;
	font-weight: 400;
}

#chart {
	width: 100%;
	height: 100%;
}

#panel {
	width: 400px;
	height: 100%;
	background-color: #202020;
}

#tabs {
	display: flex;
	height: 80px;
	width: 100%;
}

.tab {
	cursor: pointer;
	flex: 1;
	background-color: #181818;
}

.tab.active {
	background-color: #202020;
}

.panelContent {
	display: none;
	padding: 40px;
}

.panelContent.active {
	display: block;
}
